body {
  background: #020045;
  color: white;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html {
  margin: 0;
  padding: 0;
}
#topPanel {
  display: inline-flex;
  width: 100%;
  height: 1.4cm;
  background: linear-gradient(to bottom, #2b4d66, transparent);
  align-items: center;
  justify-content: space-around;
  font-size: 200%;
  margin: 0;
  padding: 0;
}
#paneldiv {
  margin: 0;
  padding: 0;
  display: inline-block;
  height: calc(100vh - 1.5cm);
  width: 70%;
}
#centralPanel {
  height: calc(70vh - 1.5cm);
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(img/logblur.gif) no-repeat;
  background-position: center;
  background-size: contain;
  backdrop-filter: blur(5px);
}
#divquestion {
  margin: 0;
  padding: 0;
  height: 30vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
#rightPanel {
  height: calc(100vh - 1.5cm);
  width: 29%;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 1.5cm;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.prizdiv {
  margin: 1%;
  width: 80%;
  font-size: 200%;
  word-spacing: 30px;
  transition: 1s;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 150%;
}
.curschet {
  background-color: #fca613;
  transform: skew(-15deg);
  display: block;
}

.parallelogram {
  width: 40%;
  background: #162a4b;
  transform: skew(30deg);
  border: 5px solid white;
  border-radius: 5px;
}
.parallelogram span {
  transform: skew(-30deg);
  display: block;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 150%;
  cursor:pointer;
}
#qask {
  padding: 5%;
  text-align: center;
}

.rightclick{
  animation: rclick 0.5s linear;
}

@keyframes rclick{
0%{
        background: #162a4b;
}
25% {     
        background: #fca613;
}
50%{
        background: #162a4b
}
75% {
        background: #fca613;
}
100%{
        background: #162a4b;
}
}

.falseclick{
  animation: fclick 0.5s linear;
}

@keyframes fclick{
0%{
        background: #d9534f;
}
25% {
        background: #fca613;
}
50%{
        background: #d9534f;
}
75% {
        background: #fca613;
}
100%{
        background: #d9534f;
}
}

@media screen and (max-height: 900px) {
        .prizdiv{
        font-size: 120%;
        }

}

/*
@media screen and (max-width: 768px) {
        .parallelogram{
        width: 90%;
        }

}
*/
@media screen and (max-width: 720px) {
        .parallelogram{
        width: 90%;
        }
        #paneldiv{
        width: 100%;
        }
        #rightPanel{
        width: 100%;
        top: 100%;
        text-align: center;
        }
        #centralPanel{
        height: calc(50vh - 1.5cm);
        }
        #divquestion{
        height: 50vh;
        }
}

