@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');



body {
  background: #020045;
  color: white;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html {
  margin: 0;
  padding: 0;
}
#topPanel {
  display: inline-flex;
  width: 100%;
  height: 1.4cm;
  background: linear-gradient(to bottom, #2b4d66, transparent);
  align-items: center;
  justify-content: space-around;
  font-size: 200%;
  margin: 0;
  padding: 0;
}
#paneldiv {
  margin: 0;
  padding: 0;
  display: inline-block;
  height: calc(100vh - 1.5cm);
  width: 70%;
}
#centralPanel {
  height: calc(70vh - 1.5cm);
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(img/logblur.png) no-repeat;
  background-position: center;
  background-size: contain;
  backdrop-filter: blur(5px);
}
#divquestion {
  margin: 0;
  padding: 0;
  height: 30vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
#rightPanel {
  height: calc(100vh - 1.5cm);
  width: 29%;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 1.5cm;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.prizdiv {
  margin: 1%;
  width: 80%;
  font-size: 200%;
  word-spacing: 30px;
  transition: 1s;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 150%;
  border-radius: 5px;
}
.curschet {
  background-color: #fca613;
  transform: skew(-15deg);
  display: block;
}

.parallelogram {
  width: 40%;
  background: #162a4b;
  transform: skew(30deg);
  border: 5px solid white;
  border-radius: 5px;
   transition: 1s;
}

.parallelogram span {
  transform: skew(-30deg);
  display: block;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 150%;
  cursor:pointer;
}
#qask {
  padding: 5%;
  text-align: center;
}

.rightclick{
  animation: rclick 0.5s linear;
}

@keyframes rclick{
0%{
        background: #162a4b;
}
25% {     
        background: #fca613;
}
50%{
        background: #162a4b
}
75% {
        background: #fca613;
}
100%{
        background: #162a4b;
}
}

.falseclick{
  animation: fclick 0.5s linear;
}

@keyframes fclick{
0%{
        background: #d9534f;
}
25% {
        background: #fca613;
}
50%{
        background: #d9534f;
}
75% {
        background: #fca613;
}
100%{
        background: #d9534f;
}
}
/*#main{
        filter: blur(5px);
}
*/
#textdiv{                                
        background-color:#020045;        
        box-shadow:0px 0px 40px  #4b88b4;      
        border-radius:5px;
        position: fixed;                 
        width: 30vw;                     
        left:35vw;            
        filter: none;
        font-size: 120%;
        font-family: 'Ubuntu Mono', monospace;
}                                        





.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 20px;
        float: left;
	border-radius: 5px;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
	background-color: #3d1e6d;
	border-bottom: 5px solid #8874a3;
	text-shadow: 0px -2px #8874a3;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

#textdivbutton{

}

#textdivehead{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
}

#texdivheader{
        margin: 1% 1% 0 3%;
        text-align: center;
}

#textdiv p{
        margin: 3%;
}

/* buttons */

button.thebutton{
    width:20vw;
    max-width: 250px;
    min-width:10vw;
    height:70px;
    background: transparent;
backdrop-filter: brightness(80%);

    border-style: none;
    color:#fff;
    font-size: 23px;
    letter-spacing: 3px;
    font-family: 'Lato';
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    opacity: 0.8;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
    z-index: 10;
    border-radius:5px;
    font-family: 'Montserrat', sans-serif;

}

button.thebutton:hover{                              
        backdrop-filter: brightness(120%);             
        opacity: 1;
}                                              

button.thebutton span{
    position: absolute;
    display: block;
}
button.thebutton span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
button.thebutton span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
button.thebutton span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

button.thebutton span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}


button.thebutton:hover span{
    animation-play-state: paused;
}

#youlost{
        display:block;
        z-index: 100;
        position: fixed;
        top: 5vh;
        left: 5vh;
        width: 90vw;
        height: 90vh;
        background: url(img/n.gif);
        background-position: center;
        background-repeat: no-repeat;
}

/*/////////*/



#schet{
        font-size: 1.2rem;
        white-space: nowrap;
        margin: 0 20px 0 20px;
}

@media screen and (max-height: 900px) {
        .prizdiv{
        font-size: 120%;
        }

}

@media screen and (max-width: 900px){
        #textdiv{                               
        width: 60vw;                           
        left: 20vw;


}

}
/*
@media screen and (max-width: 768px) {
        .parallelogram{
        width: 90%;
        }

}
*/
@media (max-width: 720px) {
        .parallelogram{
        width: 85%;
        text-align: center;
        }
        #paneldiv{
        width: 100%;
        }
        #rightPanel{
        width: 100%;
        top: 100vh;
        height: 100vh;
        text-align: center;
        }
        #centralPanel{
        height: calc(50vh - 1.5cm);
        }
        #divquestion{
        height: 50vh;
        }

        #textdiv{                                 
        background-color:#020045;         
        box-shadow:0px 0px 40px  #4b88b4; 
        border-radius:5px;                
        position: fixed;                  
        width: 80vw;                      
        left:10vw;                        
        filter: none;                     
}

button.thebutton{
        width: 24vw;
        text-align: center;
font-size: 1rem;
}
#youlost{
        left: 0;
        width: 100%;
        background-size: cover;
            top: 0;
            height: 100vh;
                background-size: contain;
}
}

